.layout-container {
  height: 100vh;
  display: flex;

  .layout-sidebar {
    background: var(--el-bg-color);
    position: relative;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid var(--el-border-color);
  }

  .layout-header {
    background-color: var(--el-bg-color);
    color: var(--el-text-color-primary);
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .layout-main {
    padding: 0;
    overflow: hidden;
    flex: 1;
    background-color: var(--el-bg-color-page);

    .layout-scrollbar {
      height: 100%;
      padding: var(--layout-content-padding, 15px);

      .layout-card {
      }
    }
  }
}
