<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanggu.code.generator.mapper.BaseClassMapper">

    <!-- 所有字段 -->
    <sql id="allColumns">
        id,
        package_name,
        code,
        fields,
        remark,
        create_time,
        update_time,
        is_delete
    </sql>

    <!-- 过滤SQL -->
    <sql id="whereSQL">
        <!-- 这里写过滤语句，过滤项需要加query前缀 -->
        <if test="query.code != null and query.code.trim() != ''">
            AND code LIKE CONCAT('%', #{query.code}, '%')
        </if>
    </sql>

    <!-- Entity类字段映射 -->
    <resultMap type="com.yanggu.code.generator.domain.entity.BaseClassEntity" id="baseClassMap">
        <id property="id" column="id"/>
        <result property="packageName" column="package_name"/>
        <result property="code" column="code"/>
        <result property="fields" column="fields"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- Entity分页 -->
    <select id="entityPage" resultMap="baseClassMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_base_class
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

    <!-- Entity列表 -->
    <select id="entityList" resultMap="baseClassMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_base_class
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

    <!-- VO分页 -->
    <select id="voPage" resultType="com.yanggu.code.generator.domain.vo.BaseClassVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_base_class
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

    <!-- VO列表 -->
    <select id="voList" resultType="com.yanggu.code.generator.domain.vo.BaseClassVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_base_class
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

</mapper>