<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanggu.code.generator.mapper.FieldTypeMapper">

    <!-- 所有字段 -->
    <sql id="allColumns">
        id,
        column_type,
        attr_type,
        package_name,
        create_time,
        update_time,
        is_delete
    </sql>

    <!-- 过滤SQL -->
    <sql id="whereSQL">
        <!-- 这里写过滤语句，过滤项需要加query前缀 -->
        <if test="@com.yanggu.code.generator.common.mybatis.util.MybatisUtil@isNotEmpty(query, 'columnType')">
            AND column_type LIKE CONCAT('%', #{query.columnType}, '%')
        </if>
        <if test="@com.yanggu.code.generator.common.mybatis.util.MybatisUtil@isNotEmpty(query, 'attrType')">
            AND attr_type LIKE CONCAT('%', #{query.attrType}, '%')
        </if>
    </sql>

    <!-- Entity类字段映射 -->
    <resultMap type="com.yanggu.code.generator.domain.entity.FieldTypeEntity" id="fieldTypeMap">
        <id property="id" column="id"/>
        <result property="columnType" column="column_type"/>
        <result property="attrType" column="attr_type"/>
        <result property="packageName" column="package_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- Entity分页 -->
    <select id="entityPage" resultMap="fieldTypeMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_field_type
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

    <!-- Entity列表 -->
    <select id="entityList" resultMap="fieldTypeMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_field_type
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

    <!-- VO分页 -->
    <select id="voPage" resultType="com.yanggu.code.generator.domain.vo.FieldTypeVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_field_type
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

    <!-- VO列表 -->
    <select id="voList" resultType="com.yanggu.code.generator.domain.vo.FieldTypeVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_field_type
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

    <select id="getPackageByTableId" resultType="String">
        SELECT
            DISTINCT t2.package_name
        FROM
            gen_table_field t1
        LEFT JOIN gen_field_type t2 ON t1.attr_type = t2.attr_type AND t2.is_delete = 0
        WHERE
            t1.is_delete = 0
        AND t1.table_id = #{tableId}
        AND t2.package_name IS NOT NULL AND t2.package_name != ''
    </select>

</mapper>