<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanggu.code.generator.mapper.ProjectMapper">

    <!-- 所有字段 -->
    <sql id="allColumns">
        id,
        project_name,
        project_package,
        project_version,
        datasource_id,
        project_template_group_id,
        table_template_group_id,
        enum_template_group_id,
        backend_path,
        frontend_path,
        project_desc,
        author,
        base_class_id,
        generator_type,
        create_time,
        update_time,
        is_delete
    </sql>

    <!-- 过滤SQL -->
    <sql id="whereSQL">
        <!-- 这里写过滤语句，过滤项需要加query前缀 -->
        <if test="@com.yanggu.code.generator.common.mybatis.util.MybatisUtil@isNotEmpty(query, 'projectName')">
            AND project_name LIKE CONCAT('%', #{query.projectName}, '%')
        </if>
    </sql>

    <!-- Entity类字段映射 -->
    <resultMap type="com.yanggu.code.generator.domain.entity.ProjectEntity" id="projectMap">
        <id property="id" column="id"/>
        <result property="projectName" column="project_name"/>
        <result property="projectPackage" column="project_package"/>
        <result property="projectVersion" column="project_version"/>
        <result property="datasourceId" column="datasource_id"/>
        <result property="projectTemplateGroupId" column="project_template_group_id"/>
        <result property="tableTemplateGroupId" column="table_template_group_id"/>
        <result property="enumTemplateGroupId" column="enum_template_group_id"/>
        <result property="backendPath" column="backend_path"/>
        <result property="frontendPath" column="frontend_path"/>
        <result property="projectDesc" column="project_desc"/>
        <result property="author" column="author"/>
        <result property="baseClassId" column="base_class_id"/>
        <result property="generatorType" column="generator_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- Entity分页 -->
    <select id="entityPage" resultMap="projectMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_project
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

    <!-- Entity列表 -->
    <select id="entityList" resultMap="projectMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_project
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

    <!-- VO分页 -->
    <select id="voPage" resultType="com.yanggu.code.generator.domain.vo.ProjectVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_project
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

    <!-- VO列表 -->
    <select id="voList" resultType="com.yanggu.code.generator.domain.vo.ProjectVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_project
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="com.yanggu.code.generator.common.mybatis.mapper.BaseMapperPlus.orderBySQL"/>
    </select>

</mapper>