<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanggu.code.generator.mapper.TableFieldMapper">

    <!-- 所有字段 -->
    <sql id="allColumns">
        id,
        table_id,
        field_name,
        field_type,
        field_comment,
        attr_name,
        attr_type,
        package_name,
        field_sort,
        auto_fill,
        primary_pk,
        logic_delete,
        logic_delete_value,
        logic_not_delete_value,
        form_item,
        dict,
        dict_value,
        form_required,
        form_type,
        form_field_sort,
        form_validator,
        grid_item,
        grid_sort,
        grid_field_sort,
        query_item,
        query_type,
        query_field_sort,
        query_form_type,
        create_time,
        update_time,
        is_delete
    </sql>

    <!-- 过滤SQL -->
    <sql id="whereSQL">
        <!-- 这里写过滤语句，过滤项需要加query前缀 -->
        <if test="query.columnType != null and query.columnType.trim() != ''">
            AND column_type LIKE CONCAT('%', #{query.columnType}, '%')
        </if>
        <if test="query.attrType != null and query.attrType.trim() != ''">
            AND attr_type LIKE CONCAT('%', #{query.attrType}, '%')
        </if>
    </sql>

    <!-- 排序SQL -->
    <sql id="orderBySQL">
        <if test="query.orders != null and query.orders.size() > 0">
            ORDER BY
            <foreach collection="query.orders" item="order" separator=",">
                ${order.column} <if test="order.isAsc">ASC</if><if test="!order.isAsc">DESC</if>
            </foreach>
        </if>
    </sql>

    <!-- Entity类字段映射 -->
    <resultMap type="com.yanggu.code.generator.domain.entity.TableFieldEntity" id="tableFieldMap">
        <id property="id" column="id"/>
        <result property="tableId" column="table_id"/>
        <result property="fieldName" column="field_name"/>
        <result property="fieldType" column="field_type"/>
        <result property="fieldComment" column="field_comment"/>
        <result property="attrName" column="attr_name"/>
        <result property="attrType" column="attr_type"/>
        <result property="packageName" column="package_name"/>
        <result property="fieldSort" column="field_sort"/>
        <result property="autoFill" column="auto_fill"/>
        <result property="primaryPk" column="primary_pk"/>
        <result property="logicDelete" column="logic_delete"/>
        <result property="logicDeleteValue" column="logic_delete_value"/>
        <result property="logicNotDeleteValue" column="logic_not_delete_value"/>
        <result property="formItem" column="form_item"/>
        <result property="dict" column="dict"/>
        <result property="dictValue" column="dict_value"/>
        <result property="formRequired" column="form_required"/>
        <result property="formType" column="form_type"/>
        <result property="formFieldSort" column="form_field_sort"/>
        <result property="formValidator" column="form_validator"/>
        <result property="gridItem" column="grid_item"/>
        <result property="gridSort" column="grid_sort"/>
        <result property="gridFieldSort" column="grid_field_sort"/>
        <result property="queryItem" column="query_item"/>
        <result property="queryType" column="query_type"/>
        <result property="queryFieldSort" column="query_field_sort"/>
        <result property="queryFormType" column="query_form_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- Entity分页 -->
    <select id="entityPage" resultMap="tableFieldMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            yanggu_code_generator.gen_table_field
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

    <!-- Entity列表 -->
    <select id="entityList" resultMap="tableFieldMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            yanggu_code_generator.gen_table_field
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

    <!-- VO分页 -->
    <select id="voPage" resultType="com.yanggu.code.generator.domain.vo.TableFieldVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            yanggu_code_generator.gen_table_field
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

    <!-- VO列表 -->
    <select id="voList" resultType="com.yanggu.code.generator.domain.vo.TableFieldVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            yanggu_code_generator.gen_table_field
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

</mapper>