<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanggu.code.generator.mapper.TableMapper">

    <!-- 所有字段 -->
    <sql id="allColumns">
        id,
        table_name,
        database_name,
        class_name,
        table_comment,
        project_id,
        author,
        version,
        function_name,
        form_layout,
        create_time,
        update_time,
        is_delete
    </sql>

    <!-- 过滤SQL -->
    <sql id="whereSQL">
        <!-- 这里写过滤语句，过滤项需要加query前缀 -->
        <if test="query.tableName != null and query.tableName.trim() != ''">
            AND table_name LIKE CONCAT('%', #{query.tableName}, '%')
        </if>
        <if test="query.projectId != null">
            AND project_id = #{query.projectId}
        </if>
    </sql>

    <!-- 排序SQL -->
    <sql id="orderBySQL">
        <if test="query.orders != null and query.orders.size() > 0">
            ORDER BY
            <foreach collection="query.orders" item="order" separator=",">
                ${order.column} <if test="order.isAsc">ASC</if><if test="!order.isAsc">DESC</if>
            </foreach>
        </if>
    </sql>

    <!-- Entity类字段映射 -->
    <resultMap type="com.yanggu.code.generator.domain.entity.TableEntity" id="tableMap">
        <id property="id" column="id"/>
        <result property="tableName" column="table_name"/>
        <result property="databaseName" column="database_name"/>
        <result property="className" column="class_name"/>
        <result property="tableComment" column="table_comment"/>
        <result property="projectId" column="project_id"/>
        <result property="author" column="author"/>
        <result property="version" column="version"/>
        <result property="functionName" column="function_name"/>
        <result property="formLayout" column="form_layout"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- Entity分页 -->
    <select id="entityPage" resultMap="tableMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            yanggu_code_generator.gen_table
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

    <!-- Entity列表 -->
    <select id="entityList" resultMap="tableMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            yanggu_code_generator.gen_table
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

    <!-- VO分页 -->
    <select id="voPage" resultType="com.yanggu.code.generator.domain.vo.TableVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            yanggu_code_generator.gen_table
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

    <!-- VO列表 -->
    <select id="voList" resultType="com.yanggu.code.generator.domain.vo.TableVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            yanggu_code_generator.gen_table
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

</mapper>