<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanggu.code.generator.mapper.TemplateMapper">

    <!-- 所有字段 -->
    <sql id="allColumns">
        t.id,
        t.template_group_id,
        t.template_name,
        t.generator_path,
        t.template_desc,
        t.template_content,
        t.template_type,
        t.create_time,
        t.update_time,
        t.is_delete
    </sql>

    <!-- 过滤SQL -->
    <sql id="whereSQL">
        <!-- 这里写过滤语句，过滤项需要加query前缀 -->
        <if test="query.templateGroupId != null">
            AND t.template_group_id = #{query.templateGroupId}
        </if>
        <if test="query.templateName != null and query.templateName.trim() != ''">
            AND t.template_name LIKE CONCAT('%', #{query.templateName}, '%')
        </if>
        <if test="query.templateType != null">
            AND t.template_type = #{query.templateType}
        </if>
        <if test="query.templateGroupType != null">
            AND g.type = #{query.templateGroupType}
        </if>
    </sql>

    <!-- 排序SQL -->
    <sql id="orderBySQL">
        <if test="query.orders != null and query.orders.size() > 0">
            ORDER BY
            <foreach collection="query.orders" item="order" separator=",">
                t.${order.column} <if test="order.isAsc">ASC</if><if test="!order.isAsc">DESC</if>
            </foreach>
        </if>
    </sql>

    <!-- Entity类字段映射 -->
    <resultMap type="com.yanggu.code.generator.domain.entity.TemplateEntity" id="templateMap">
        <id property="id" column="id"/>
        <result property="templateGroupId" column="template_group_id"/>
        <result property="templateName" column="template_name"/>
        <result property="generatorPath" column="generator_path"/>
        <result property="templateDesc" column="template_desc"/>
        <result property="templateContent" column="template_content"/>
        <result property="templateType" column="template_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- Entity分页 -->
    <select id="entityPage" resultMap="templateMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_template
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

    <!-- Entity列表 -->
    <select id="entityList" resultMap="templateMap">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_template
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

    <!-- VO分页 -->
    <select id="voPage" resultType="com.yanggu.code.generator.domain.vo.TemplateVO">
        SELECT
            <include refid="allColumns"/>,
            g.group_name AS template_group_name,
            g.type AS template_group_type
        FROM
            gen_template AS t
        JOIN gen_template_group AS g ON t.template_group_id = g.id AND g.is_delete = 0
        <where>
            t.is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

    <!-- VO列表 -->
    <select id="voList" resultType="com.yanggu.code.generator.domain.vo.TemplateVO">
        SELECT
            <include refid="allColumns"/>
        FROM
            gen_template
        <where>
            is_delete = 0
            <include refid="whereSQL"/>
        </where>
        <include refid="orderBySQL"/>
    </select>

</mapper>